
.color-w {
    color: white;
}

.nav-link {
    color: white;

}

h1 {
    color: White;
}

h5 {
    color: White;
    margin: 5px;
    padding: 4px;
}

.bg-image {
height: 25rem;
}

.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  